@CHARSET "UTF-8";

.container{
	width: 60%;
	margin-left: 5%;
	height: 600px;
	
}
#position1{
	height: 60px;
	background-color: #497E7E;	
}
#position2{
	background-color: #D700AC;
	width: 20%;
	margin-right: 1%;
	float: left;
	height: 70%;
	margin-top: 2%;
}
#position3{
	background-color:#49FF00;
	height: 70%;
	width: 79%;
	display: inline-block;
	margin-top: 2%;
	
}
#position4{
	height: 60px;
	background-color: #0049FF;
	
	
}