@CHARSET "UTF-8";


body{
	white-space: nowrap;
}
#position1 {
	height: 30px;
	background-color: black;
	margin-bottom: 1%;
}



#position2 {
	width: -webkit-calc(20% - 1%);
	margin-right: 1%;
	background-color: #800080;
	float: left;
	display: inline-block;
	height: 300px;
}

#position3 {
	width: -webkit-calc(60%);	
	background-color: green;
	display: inline-block;
	height: 300px;
}

#position4 {
	width: -webkit-calc(20% - 1%);
	margin-left: 1%;
	background-color: red;
	display: inline-block;
	height: 300px;

}

#position5 {
	height: 30px;
	background-color: blue;
	margin-top: 1%;
}